body{
    font-family: "PingFang SC","Microsoft YaHei";
    background: #fff;
    font-size: 0;
}
#wrap{
    width: 100%;
    overflow: hidden;
    text-align: center;
    display: none;
}


/*动画*/
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in below version 2.1.8 */ {
  opacity: 0
}

/*
* *
* *
* *
* *通用部分
* *包含：
* *mask蒙层
* *弹窗外框
* *loading 加载动画
* *toast 提示
* *
* *
* *
* *
* */

.rel{
    position: relative;
}
.abs{
    position: absolute;
}
/*mask*/
.mask{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    z-index: 100;
    background: rgba(0,0,0,.8);
    display: none;
}
/*弹窗*/
.pop{
    display: none;
    width: 5.6rem;
    font-size: .24rem;
    text-align: center;
    border-radius: .2rem;
    position: fixed;
    left: 50%;
    top: 40%;
    -webkit-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
/*    background: url(//file.40017.cn/flight/image/activity/2018/memberday04/pb.png) 0 bottom no-repeat;
    background-size: 100% 1.15rem;*/
    /*padding-bottom: 1.15rem;*/
}
/*loading*/
#loading{
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}
#loading img{
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}

/*toast*/
.toast{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    display: none;
    height: 100%;
}
.toast p{
    font-size: .4rem;
    color: #fff;
    padding: .2rem .26rem;
    display: inline-block;
    background: #000;
    border-radius: .2rem;
    position: relative;
    text-align: center;
    top: 50%;
}
/*服务条款*/
.service{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  display: none;
  z-index: 100;
  background: #fff;
  overflow:hidden;
  text-align: left;
}
.service_title{
  display: block;
  font-size: .4rem;
  color: #484849;
  text-align: center;
  padding: .5rem 0 .3rem 0;
}
.service_content_box{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 .4rem;
  font-size: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 2.5rem;
}
.service_content_box .each_service:last-child{
  padding-bottom: .1rem;
}
.service_content_box p{
  font-size: .24rem;
  color: #484849;
  line-height: .4rem;
}
.service_back_btn{
  width: 100%;
  height: 1rem;
  position: fixed;
  bottom: 0;
  background: #fff;
  display: flex;
  display:-webkit-flex;
  justify-content: center;
  align-items: center;
}
.service_back_btn a{
  width: 3.35rem;
  height: .9rem;
  color: #009ce4;
  font-size: .36rem;
  text-decoration: none;
  border-radius: .1rem;
  border: .04rem solid #009ce4;
  text-align: center;
  line-height: .9rem;
}


























/*弹窗*/
.input{
    display: none;
    padding:0;
    top: 50%;
    /*background-color: #fd9a7d;*/
}
.input .title{
    width: 100%;
    height: 1.3rem;
    background: url(//file.40017.cn/flight/image/activity/2018/memberday04/pb.png) 0 0 no-repeat;
    background-size: 100% 2.04rem;
    background-position: 0 0;
    padding-top: .3rem;
}
.input .i_input{
   margin-bottom: .2rem;
}
.input input,.input textarea{
    width: 3.72rem;
    height: .48rem;
    line-height: .48rem;
    display: block;
    margin: 0 auto;
    padding-left: .2rem;
    border-radius: .08rem;
    background: #fff;
    /*border: .01rem solid #b7a890;*/
}
#name{
  text-transform:uppercase;
}
.input textarea{
  height: 2rem;
  line-height: .5rem;
}
.input .input_wrap{
    width: 100%;
    background: url(//file.40017.cn/flight/image/activity/2018/memberday04/input_wrap.png) 0 0 repeat-y;
    background-size: 100% 0.04rem;
}
.input input::-webkit-input-placeholder{
    color: #d0c7b9;
    font-weight: bold;
}
.input textarea::-webkit-input-placeholder{
    color: #d0c7b9;
    font-weight: bold;
}
.input .tips_1{
    color: #41270c;
    font-size: .24rem;
}
.input button{
    width: 2.88rem;
    height: .6rem;
    background: url(//file.40017.cn/flight/image/activity/2018/memberday04/input_btn.png) 0 0 no-repeat;
    background-size: 100% 100%;
    color: #f1bd70;
    font-size: .3rem;
    border-radius: .4rem;
}
.input .input_wrap i{
    display: block;
    height: .6rem;
    line-height: .6rem;
    font-size: .3rem;
    color: #b60422;
}
.input .input_bottom{
    width: 100%;
    height: 1.6rem;
    background: url(//file.40017.cn/flight/image/activity/2018/memberday04/pb.png) 0 0 no-repeat;
    background-size: 100% 2.04rem;
    background-position: 0 -1.6rem;
}
.input #zheng{
    width: 2.26rem;
    display: inline-block;
}
.input #ma{
    width: 1.45rem;
    height: .48rem;
    border-radius: .08rem;
    background: #fff;
    display: inline-block;
    line-height: .48rem;
    color: #745e49;
    font-weight: bold;
    font-size: .24rem;
}
/*service btn*/
.service_box{
  width: 100%;
  height: auto;
  display: flex;
  display:-webkit-flex;
  font-size: 0;
  justify-content: center;
  align-items: center;
  margin: .1rem auto 0 auto;
  position: relative;
}
.service_box span{
  font-size: .24rem;
}
.service_box span:nth-child(2){
  color: #000;
  font-size: .24rem;
}
.service_btn{
  color: #ff5a0a;
  text-decoration: underline;
}
.gou_box{
  width: .24rem;
  height: .24rem;
  background: #fff;
  border: .01rem solid #000;
  position: relative;
  top: .01rem;
  margin-right: .1rem;
}
.gou_logo{
  width: .29rem;
  height: .26rem;
  position: absolute;
  left: 0;
  top: -.04rem;
}



.pop .btn_close{
  width: .43rem;
  height: .43rem;
  background: url(//file.40017.cn/flight/image/activity/2018/memberday04/close.png) 0 0 no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 50%;
  bottom: 0rem;
    -webkit-transform: translate3d(-50%,0,0);
    -moz-transform: translate3d(-50%,0,0);
    -o-transform: translate(-50%,0);
    -ms-transform: translate3d(-50%,0,0);
    transform: translate3d(-50%,0,0);
}

.tipsP{
  min-height: 4rem;
  background-color: #fd9a7d;
  padding-top: .6rem;
}
.tipsP p{
  font-size: .4rem;
  text-shadow:-.05rem 0 #fd6242,
                0 .05rem #fd6242,
                .05rem 0 #fd6242,
                0 -.05rem #fd6242;
  font-weight: bold;
  color: #fff;
}
.tipsP img.fail{
    width: 3.1rem;
    margin: 0 auto
}

.tipsP button{
  width: 2.6rem;
  height: .72rem;
  box-shadow: .1rem .1rem 0rem 0px #fd4930;
  color: #fff;
  font-size: .4rem;
  border-radius: .4rem;
  position: absolute;
  bottom: -.35rem;
  left: 50%;
  background: #fd9576;
    -webkit-transform: translate3d(-50%,0,0);
    -moz-transform: translate3d(-50%,0,0);
    -o-transform: translate(-50%,0);
    -ms-transform: translate3d(-50%,0,0);
    transform: translate3d(-50%,0,0);
}

.rule{
  /*background-color: #fd9a7d;*/
   min-height: 4rem;
   text-align: left;
   color: #fff;
   /*width: 5.5rem;*/
   /*padding-left: .4rem;*/
   /*padding-right: .4rem;*/
   top: 50%;
   font-size: .3rem;
}
.rule .title{
    height: 1.3rem;
    background: url(//file.40017.cn/flight/image/activity/2018/memberday04/pb.png) 0 0 no-repeat;
    background-size: 100% 2.04rem;
    background-position: 0 0;
    padding-top: .3rem;
    text-align: center;
}
.rule .title img{
  width: 2.27rem;
}
.rule .bottom{
    width: 100%;
    height: 1.6rem;
    background: url(//file.40017.cn/flight/image/activity/2018/memberday04/pb.png) 0 0 no-repeat;
    background-size: 100% 2.04rem;
    background-position: 0 -1.6rem;
}
.rule div{
    max-height: 6rem;
    overflow-y: scroll;
    -webkit-overflow-scrolling:auto;
    background: url(//file.40017.cn/flight/image/activity/2018/memberday04/input_wrap.png) 0 0 repeat-y;
    background-size: 100% 0.04rem;
    width: 4.8rem;
    padding: 0 .4rem 0 .4rem;
    color: #71400a;
}

.other_t{
  display: none;
}
.other_t h1{
  color: #000;
  font-size: .5rem;
  text-align: center;
  margin-top: 1rem;
}



.suc{
    min-height: 2rem;
}
.suc .title{
    height: 1.3rem;
    background: url(//file.40017.cn/flight/image/activity/2018/memberday04/pb.png) 0 0 no-repeat;
    background-size: 100% 2.04rem;
    background-position: 0 0;
    padding-top: .3rem;
}
.suc .title img{
  width: 3rem;
}
.suc .bottom{
    width: 100%;
    height: 1.6rem;
    background: url(//file.40017.cn/flight/image/activity/2018/memberday04/pb.png) 0 0 no-repeat;
    background-size: 100% 2.04rem;
    background-position: 0 -1.6rem;
}
.suc .p_wrap{
    width: 100%;
    background: url(//file.40017.cn/flight/image/activity/2018/memberday04/input_wrap.png) 0 0 repeat-y;
    background-size: 100% 0.04rem;
}
.suc .p_wrap img{
    width: 4.6rem;
}
.suc .p_wrap button{
    background: transparent;
    padding: .08rem .3rem;
    margin-top: .3rem;
    margin-bottom: .2rem;
    font-size: .32rem;
}
.suc .p_wrap button:nth-child(2){
    color: #71400a;
    border-radius: .4rem;
    border: .02rem solid #71400a;
}
.suc .p_wrap button:nth-child(3){
    color: #ea8e10;
    border-radius: .4rem;
    border: .02rem solid #ea8e10;
    margin-left: .1rem;
}
.fail .title{
    height: 1.3rem;
    background: url(//file.40017.cn/flight/image/activity/2018/memberday04/pb.png) 0 0 no-repeat;
    background-size: 100% 2.04rem;
    background-position: 0 0;
    padding-top: .3rem;
}
.fail .title img{
  width: 1.94rem;
}
.fail .bottom{
    width: 100%;
    height: 1.6rem;
    background: url(//file.40017.cn/flight/image/activity/2018/memberday04/pb.png) 0 0 no-repeat;
    background-size: 100% 2.04rem;
    background-position: 0 -1.6rem;
}
.fail .p_wrap{
    width: 100%;
    background: url(//file.40017.cn/flight/image/activity/2018/memberday04/input_wrap.png) 0 0 repeat-y;
    background-size: 100% 0.04rem;
    color: #797979;
    font-size: .28rem;
}
.fail .p_wrap img{
    width: 1.4rem;
    margin-bottom: .1rem;
}
.fail .p_wrap button{
    background: transparent;
    padding: .08rem .3rem;
    margin-top: .3rem;
    margin-bottom: .2rem;
    font-size: .32rem;
    color: #935e23;
    border-radius: .4rem;
    border: .02rem solid #935e23;
}


























