body{
    background: #faeaca;
}
.part_1{
    width: 100%;
    height: 3.1rem;
    background: url(../images/pbg_1.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}
.part_2{
    width: 100%;
    min-height: 3rem;
    background: url(../images/pbg_2.jpg) 0 0 repeat-y;
    background-size: 100% .04rem;
}
.part_3{
    width: 100%;
    height: 1.2rem;
    background: url(../images/pbg_3.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}
.part_4{
    width: 100%;
    min-height: 7rem;
    background: url(../images/pbg_2.jpg) 0 0 repeat-y;
    background-size: 100% .04rem;
    padding-top: 2rem;
}
.part_2 ul li{
    width: 5.7rem;
    height: 1.22rem;
    position: relative;
    margin: 0 auto;
    margin-bottom: .2rem;
}
.part_2 ul li.h146{
    height: 1.46rem;
    line-height: 1.46rem;
}
.part_2 ul li.h146 button{
    top: .5rem;
}
.part_2 ul li:lastt-child{
    margin-bottom: 0;
}
.part_2 ul li img{
    width: 5.7rem;
}
.part_2 ul li button{
    /*width: 1.6rem;*/
    height: .5rem;
    line-height: .5rem;
    background: #935e23;
    color: #faeed4;
    font-size: .3rem;
    position: absolute;
    right: .2rem;
    top: .35rem;
    border-radius: .3rem;
    padding: 0 .2rem;
}
.part_2 div p{
    width: 1.12rem;
    color: #fff;
    font-size: .2rem;
    border-radius: .2rem;
    margin-left: 1rem;
    margin-bottom: .2rem;
    height: .36rem;
    line-height: .36rem;
}
.list_1 p{
    background: #613819;
}
.list_2 p{
    background: #d1912f;
}
.part_4 img{
    width: 2.2rem;
    margin-bottom: .2rem;
}
.part_4 p{
    font-size: .44rem;
    color: #797979;
}
.part_4 button,.part_2 button.back{
    font-size: .44rem;
    color: #935e23;
    border-radius: .3rem;
    border: .02rem solid #935e23;
    background: transparent;
    margin-top: .5rem;
    width: 3.6rem;
    height: .84rem;
}




